@import "./general.css";

header {
  grid-area: header;

  position: fixed;
  left: 0;
  right: 1.5rem;

  height: 3.5rem;

  z-index: 100;

  background-color: black;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div {
  display: flex;
  align-items: center;
}

/* #region left side */
.header-left {
  margin-left: 0.9rem;
  gap: 0.9rem;
}

.header-left-logo-img {
  height: 1.3rem;
  cursor: pointer;
}

/* #endregion */

/* #region middle side */
.header-middle {
  padding: 0 4rem 0 6rem;
  height: 2.5rem;
  width: 53%;
}

.header-middle-input {
  height: inherit;
  width: 100%;

  outline: none;
  border-radius: 2rem 0 0 2rem;
  border: 1px solid var(--bg-border-color);

  background-color: rgb(15, 15, 15);
  color: rgb(200, 200, 200);

  padding-left: 1rem;
  font-size: 1rem;
}

.header-middle-search-img {
  border: 1px solid var(--bg-border-color);
  border-radius: 0 2rem 2rem 0;

  padding: 0.5rem 1.1rem;

  background-color: var(--bg-border-color);
  cursor: pointer;
}

.header-middle-voice-img {
  background-color: var(--bg-border-color);
  margin-left: 1rem;
}

/* #endregion */

/* #region right side */
.header-right-bell-img {
  margin: 0 0.9rem 0 0.3rem;
}

.header-right-profile-img {
  height: 2rem;
  padding: 0.4rem;

  border-radius: 100%;

  cursor: pointer;
}

/* #endregion */

/* #region animation */
.header-icons {
  padding: 0.6rem;
  border-radius: 100%;
  cursor: pointer;

  transition: all 0.20s;
}

.header-icons:hover {
  background-color: var(--bg-border-color);
}

.header-middle-voice-img:hover {
  background-color: var(--bg-border-sec-color);
}

/* #endregion */

/* #region sidebar */

aside {
  grid-area: aside;

  position: fixed;
  top: 3.5rem;
  bottom: 0;

  width: 4.5rem;
  padding-top: 0.3rem;

  z-index: 99;

  background-color: black;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-box {
  height: 3.5rem;
  width: 4rem;

  font-size: 0.6rem;

  padding: 0.6rem 0;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  cursor: pointer;

  transition: all 0.20s;
}

.sidebar-box:hover {
  background-color: var(--bg-border-color);
}

.sidebar-icon {
  height: 1.5rem;
}

/* #endregion */